@font-face {
    font-family: 'Stratos-Bold';
    src: url("src/fonts/Stratos-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Stratos-BlackItalic';
    src: url("src/fonts/Stratos-BlackItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'Stratos-SemiBold';
    src: url("src/fonts/Stratos-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: 'Stratos-Regular';
    src: url("src/fonts/Stratos-Regular.ttf") format('truetype');
}

html{
    scroll-behavior: smooth;
    background-color: #F0EAE3;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

header{
    display: flex;
    
}

#right-head-ctn{
    display: flex;
    background-color: #E9E4DD;
    
    .num-ctn{
        padding: 30px;
        padding-top: 18px;

        border-style: solid;
        border-right-color: #383029; 
        border-left: none;
        border-top:none;
        border-bottom:none;

        display: flex;
        flex-direction: column;

        font-family: "Stratos-Bold";
        font-size: 15pt;

        .num-ctn-text{
            position: relative;
            top: 29px;

        }

        .num-ctn-text2{
            writing-mode:vertical-rl;
            text-orientation:mixed;
            transform: rotate(180deg);

            margin-bottom: 20px;
        }
        
    }
    #num-ctn1{
        border-left: #383029 solid;
    }

    #sign-in-ctn{
        background-color: #383029;
    }
   
    a {
        color:#E9E4DD;
        text-decoration: none;
        font-family: 'Stratos-Regular';
        font-weight: 400;

        position: relative;
        top: 50px;

        border: #E9E4DD 1px solid;
        font-size: 12pt;

        padding: 16px;
        padding-right: 40px;
        padding-left: 40px;

        margin-right: 30px;
        margin-left: 30px;
        
        transition:color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        
    }

    a:hover{
        color:#383029;
        background-color: #E9E4DD;
        border-color:#383029;
    }

   
}

#left-head-ctn{
    flex: 3;

    background-color: #E9E4DD;
    color:#383029;
    padding-top: 34px;
    nav{
        display: flex;
        margin-left: 48px;
        align-items: center;
        #head-txt{
            font-family: "Stratos-BlackItalic";
            font-size: 30pt;
            font-style: italic;
        }

        a{
            text-decoration: none;
            font-family: "Stratos-Bold";
            font-size: 15pt;
            margin-right: 40px;
            color:#383029;
        }
    }

    section{
        padding-top: 40vh;
        padding-bottom: 3vh;
        h1{
            max-width: 500px;
            font-family:'Stratos-Bold';
            font-size: 120pt;
            margin: 40px;
            line-height: 100pt;
        }

        p{
            max-width: 225px;
            position: relative;

            left: 550px;
            top: 100px;

            font-family: "Stratos-SemiBold";
            font-size: 15pt;       
            line-height: 1.2rem;   
        }

    }
}

#body-sec-1{
    background-color: #DED8C5;
    padding-top: 120px;
    padding-bottom: 40px;

    h2{
        margin-top: 0;
        font-family: 'Stratos-Bold';
        font-size: 72pt;
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: #383029;
        line-height: 0.86em;

    }

    nav {
        text-align: center;
        a{
            text-decoration: none;
            margin-left: 20px ;
            margin-right: 20px;

            color: #383029;

            font-family: "Stratos-Bold";
            font-size: 18pt;

            padding:5px;
        }
        a {
            position: relative;
            text-decoration: none;
          }
          
          a::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 3px;
            bottom: -3px;
            left: 5px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
          }
          
          a:hover::after {
            transform: scaleX(1);
          }
    }
}

#body-sec-2{
    background-color: #DED8C5;
    padding: 40px;
    display: flex;
    flex-direction: column;

    #item-ctn{
        display: flex;
        gap: 30px;
        
        .item-sub-ctn{
            flex-grow: 1;
            padding: 30px;

            background-color: #F0EAE3;

            .sub-ctn-top {
                display: flex;
                margin-bottom: 50px;
                p{
                    margin: 0;
                    font-family: "Stratos-Bold";
                    font-size: 18pt;
                    max-width: 7ch;
                    line-height: 22px;
                }
            }

            .sub-ctn-img{
                display: flex;
                img{
                    margin: 0;
                    margin-left: auto;
                    margin-right: auto;
                    height: 400px;
                    width: auto;
                }
                .img-hgt{
                    height: 400px;
                    width: auto;
                }
            }

            .sub-ctn-bottom{
                display: flex;
                margin-top: 80px;
                margin-right: 20px;
                p{
                    margin: 0;
                    font-family: "Stratos-Bold";
                    font-size: 25pt;
                    max-width: 80px;
                    
                }

                #sub-ctn-text-2{
                    font-size: 25pt;
                    line-height: 28px;
                }

                #sub-ctn-text-3{
                    align-self:flex-end;
                    font-size: 16pt;
                }
            }
        }

        #item-sub-ctn1{
            max-width: fit-content;
        }
    }

    #view-all{
        font-family: 'Stratos-Regular';
        text-decoration: none;
        color: #F0EAE3;
        background-color: #383029;
        padding:15px;
        padding-right: 60px;
        padding-left: 60px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
#body-sec-3{
    background-color: #F0EAE3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 80px;

    #outline-txt{
        -webkit-text-stroke: #383029;
        -webkit-text-stroke-width: 2px;
        color: #F0EAE3;
        font-family:'Stratos-Bold';
        font-size: 120pt;
        line-height: 100pt;

        max-width: 12ch;
        text-align: center;

    }
    #olt-adj{
        position: relative;
        left: 14px;
    }

    #sec-3-imgs{
        #card1{
            height: 600px;
            width: auto;

            position:relative;
            bottom: 40px;
            left: 90px;
            rotate: -5deg;

            z-index: 1;
        }

        #card2{
            height: 500px;
            width: auto;

            position:relative;
            top:60px;
            
            rotate: +5deg;

            z-index: 2;
        }
    }

    h1{
        color:#383029;
        margin: 0;
        font-family:'Stratos-Bold';
        font-size: 120pt;
        line-height: 100pt;
        max-width: 12ch;
        text-align: center;
        z-index: 3;
    }
    
}

#body-sec-4{
    display: flex;
    background-color: #F0EAE3;
    div{
        flex-grow: 1;
        text-align: center;
        padding:100px;
        border-top: #383029 solid;
        border-bottom: #383029 solid;
        border-left: #383029 solid;

        a{
            display: inline-block;
            font-family: 'Stratos-SemiBold';
            font-size: 20pt;
            text-decoration: none;
            color: #383029;
            transform: scale(1);
            transition: transform 0.2s ease;
        }
        a:hover{
            transform: scale(1.5);
        }
    }
}

#foot-sec-1{
    display: flex;
    background-color: #F0EAE3;
    padding: 40px;
    padding-top: 80px;
    #left-ctn{
        h4{
            font-family: 'Stratos-SemiBold';
            font-size: 24pt;
            max-width: 16ch;
            line-height: 1.8rem;
        }
        #inp-box{
            font-family: 'Stratos-SemiBold';
            color: #383029;
            background-color: #F0EAE3;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 50px;
            border: #383029 solid 1px;

            float: left;
        }

        #inp-btn{
            padding: 10px;
            padding-bottom: 11px;
            background-color: #383029;
            color: #F0EAE3;
            border: none;

            float: left;

            font-family: 'Stratos-Regular';
            font-size: 8pt;
        }
    }
    #right-ctn{
        table{
            td, th{
                text-align: right;
                padding-left: 80px;
                padding-bottom: 8px;
                font-family: 'Stratos-SemiBold';
                font-size: 14pt;
            }
            th{
                font-family: 'Stratos-Bold';
                padding-bottom: 12px;
            }
        }
    }
}
#foot-sec-2{

    div{
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        padding-top: 50px;

        font-family: 'Stratos-BlackItalic';
        font-size: 340pt;

        background-color: #F0EAE3;
        color: #383029;

        line-height: 25rem;


    }
}
#foot-sec-3{
    display: flex;
    
    background-color: #F0EAE3;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;

    color: #383029;
    font-family: 'Stratos-Bold';
}